extends ../layouts/main-layout.pug 

block style
    link(rel="stylesheet", href="/css/product.css")

block content 
    if products.length > 0
        .grid
            each product in products
                article.card.product-item
                    header.card__header
                        h1.product__title #{product.title}
                    .card__image
                        img(src=product.imageUrl, alt=product.title)
                    .card__content
                        h2.product__price #{product.price}
                        p.product__description #{product.description}
                    .card__actions
                        a.btn(href=`/shop/products/${product._id}`) Detail
                        if isAuthenticated
                            form(action="/shop/cart", method="post")
                                input(type="hidden", name="_csrf", value = csrfToken) 
                                input(type="hidden", name="productId", value=product._id)
                                button.btn(type="submit") Add to cart
    else
        h1 No Products Found